---
layout: default
---
<figure>
  <img src="leandroagudelo189.github.io/images/somm.jpg">
  
</figure>

# Index
<ul>
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>		

<div class="posts">
	{% for post in site.posts %}	
		    <article class="post">

		      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
		      <div class="entry">
        			{{ post.excerpt }}
      		      </div> 
			    
		    </article>
	{% endfor %}
</div>


